# .gitignore file for picosdk-ps2000a-matlab-instrument-driver
# Untracked files/folders to ignore.

# Windows platforms

**/*.obj
**/*.lib
**/*.exp

# All platforms

**/*.h

# Help files to ignore
help/index.html
help/html/ps2000a_tbx_index.html